<nav>
  <div class="row">
    <div class="large-12 columns">
      <div class="top-bar">
        <div class="top-bar-title">
          <img data-interchange="[/user/themes/gravity/images/common/gravity-mobile-logo@2x.png, small], [/user/themes/gravity/images/common/gravity-logo.png, medium], [/user/themes/gravity/images/common/gravity-logo@2x.png, retina]"><span>Gravity</span>
        </div>
        <div class="top-bar-right show-for-medium">
          <ul class="menu" data-magellan data-animation-easing data-animation-duration="2000">
            <li><a href="#browsecourses">Courses</a></li>
            <li><a class="typeform-share link" href="https://gilly4.typeform.com/to/CSwSf8" data-mode="2" target="_blank">Contact Us</a></li>
            <li><a class="typeform-share link button" href="https://gilly4.typeform.com/to/PntORy" data-mode="2" target="_blank">Free Email Course</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
