// HTML Gradient - This stops the navigation and footer from showing white top and bottom when scrolling up and down in Safari browsers. Doesn't work for Chrome.
html {
    height: 100%;
    background-color: $white;
    background: linear-gradient(to bottom, $light-teal 0%,$light-teal 20%,$white 20%,$white 60%,$purple 20%, $purple 20%);
    background-attachment: fixed;
}

// Heading Underline Effect

h1::after, h2::after, h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 6px;
  margin: $gap-small auto $gap-small auto;
  border-radius: 2px;
  background-color: $light-teal;
}

h3::after {
  width: 50px;
}


.underline-left::after {
  @include breakpoint(medium) {
    margin: $gap-small 0 $gap-small 0;
  }
}

.underline-large-left::after {
  @include breakpoint(large) {
    margin: $gap-small 0 $gap-small 0;
  }
}

// 500 Error page

#error {
  @include gap(both, large);
}

// ---

// Won't truly work properly in other browsers by default, have to manually hack in the retina breakpoints. Pain! Mixin if needed.
/*.test {
  background-color: red;
  @media screen and #{breakpoint(medium)} {
    background-color: green;
  }
  @media screen and #{breakpoint(medium)} and #{breakpoint(retina)} {
    background-color: yellow;
  }
}*/
