// Todo
// Align height of h3 in Gilly's segment with h2
// Courses has double row margins when shrinking :()

// Segment Classes

.purple {
  background-color: $purple;
  color: $white;
}

.light-purple {
  background-color: $light-purple;
}

.teal {
  background-color: $teal;
  color: $white;
}

.light-teal {
  background-color: $light-teal;
}

.cream {
  background-color: $cream;
}

/*.purple::before {
  content:"";
  position: absolute;
  display: block;
  width: 1000%;
  height: 250px;

  background-color: $purple;
  z-index: -1;
}*/

// Introduction segment

#newton {
  margin: $gap-small auto 0 auto;
  @include retina-image(264px, 260px, newton-small-illustration, small);
  @include retina-image(675px, 350px, newton-medium-illustration, medium);
  @include retina-image(950px, 490px, newton-large-illustration, large);
  @include breakpoint(medium) {
    margin: 0 auto;
  }
}

#introduction {
  overflow: hidden;
  @include gap(bottom, medium);
  h1 {
    @include gap(top, small);
  }
  .button {
    margin-top: $gap-tiny;
    margin-bottom: $gap-medium;
  }
}

// Two button spacing
@include breakpoint(medium) {
  .button + .button {
    margin-left: $gap-small;
  }
}
@include breakpoint(large) {
  .button + .button {
    margin-left: 0;
  }
}

// Announcement Segment

#announcement {
  @include gap(both, small);
  background-color: $cream;
  z-index: -2;
  img {
    /*background-color: pink;*/
    /*border-radius: 50%;*/
    position: relative;
    top: 0;
    z-index: 10;
      }
      span {
        /*background-color: pink;*/
      }
  .test::after {
    display: block;
    content: "";
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    top: -70px;
    left: -35px;
    background-color: $light-teal;
    z-index: -1;
  }
  p {

  }
  div > div:first-child {
    /*background-color: pink;*/
  }
  div > div:nth-child(2) {
    /*background-color: green;*/
  }
}

// Gilly Segment

#gilly {
  @include gap(both, large);
  .gillyphoto {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin-bottom: $gap-small;
    border-radius: 50%;
    border: 4px solid $light-teal;
    background: url(/user/themes/gravity/images/common/gilly.jpg) center / 100% no-repeat;
  }
  h3 {
    padding-top: 11px;
  }
}

#clients {
  @include gap(both, medium);
  ul { // Set the class vertical in the html on the ul - this code then makes sense. Extra code needed for vertical spacing and horizontal alignment. Because... hey, nothing is easy right?
    @include breakpoint(medium) {
      @include menu-direction(horizontal);
    }
  }
}

// Formula
#formula {
  @include gap(both, large)

}

#formula-illustration {
  margin: 0 auto;
  @include breakpoint(large) {
    margin: 15% auto 0 auto;
  }
  @include retina-image(290px, 215px, formula-illustration, small);
  @include retina-image(440px, 320px, formula-illustration-large, medium);
}

// Browse Courses Segment

#browsecourses {
  @include gap(both, large);
  ul {
      display: block;
      width: 100%;
      @include gap(bottom, medium);
  }
  .button {
    background-color: $teal;
    border-color: $white;
    &:hover {
      color: $teal;
      background-color: $white;
      border-color: $light-teal;
    }

  }
  li {
    display: inline-block;
    float: none;

    &.is-active .button {
    color: $teal;
    background-color: $light-teal;
      &:hover {
        border-color: $white;
      }
    }
    @include breakpoint(medium) {
      &:not(:last-child) {
        @include gap(right, medium);
      }
    }
  }
}

// Courses Segment

#courses {
  h4 {
    color: inherit;
    margin-bottom: 0;
  }
  img {
    @include gap(both, small);
  }
  td {
    font-size: $global-font-size / 1.15;
  }
  thead { // Hacks because Firefox doesn't show rounded corners otherwise!
    display: inline-table;
    width: 100%;
    @include border-top-radius(10px);
    position: relative;
  }
  th {
    @include border-top-radius(10px);
  }
  tfoot { // Last td cell for button
    background-color: transparent;
    padding: 0;
    td {
      padding: 0;
    }
  }
  tbody tr:not(:first-child) td {
    text-align: center;
    font-weight: bold;
  }
  .button {
    width: 100%;
    @include gap(both, small);
    @include border-top-radius(0);
    @include border-bottom-radius(10px);
  }
}

.days {
  &::before {
    content: attr(data-training-days);
    background-color: $purple;
    color: $white;
    display: block;
    width: 50px;
    position: absolute;
    float: left;
    top: 25;
    left: 25;
    height: 50px;
    font-size: $global-font-size * 1.25;
    padding-top: 10px;
    border-radius: 50%;
  }
  &::after {
    content: attr(data-training-days-text);
    color: $purple;
    display: block;
    float: left;
    margin-top: -125px;
    width: 50px;
    height: 50px;
  }
  & .alternative::after {
    margin-top: -450px;
  }
}

.course-container {
  margin-top: -75px;
}

// Quarterly segment

#quarterly {
  @include gap(both, large);
  ul {
    font-weight: bold;
    li {
      color: $teal;
      @include gap(bottom, tiny);
      @include margin(null null $gap-tiny null);
      border-bottom: 1px solid $light-teal;
    }
  }
}

#pyramid { // Part of Quarterly above
  margin: 0 auto $gap-small auto;
  @include retina-image(208px, 209px, pyramid-small, small);
  @include retina-image(290px, 290px, pyramid, medium);
}

// Footer

footer {
  @include gap(both, medium);
  font-weight: bold;
  li:last-child {
    font-size: $global-font-size / 1.20;
    font-weight: normal;
  }
}
