// Exceptions for dark coloured segments.

h1, h2, h3, h4, h5 {
  .purple &, .teal & {
    color: $white;
  }
}

// Quotation
blockquote p {
  font-size: rem-calc(14);
  /*font-weight: bold;*/
}
cite {
  /*font-family: $header-font-family;*/
  font-style: normal;
}

// Headings

h5 {
  font-family: $body-font-family;
  font-weight: bold;
  margin-bottom: rem-calc(0);
  color: $body-font-color;
}

// Links

a:not(.button) {
  border-bottom: 1px dotted $anchor-color;
  &:hover {
    border-bottom: 1px dotted $anchor-color-hover;
  }
  .purple:not(footer) &, .teal:not(#browsecourses) & {
    color: $light-teal;
    border-bottom: 1px dotted $light-teal;
    &:hover {
      border-bottom: 1px dotted $anchor-color-hover;
    }
  }
  .purple & {
    color: $light-teal;
    &:hover {
      color: $pink;
    }
  }
  nav &, footer & {
    border-bottom: 0;
    &:hover {
      border-bottom: 0;
      color: $pink;
    }
  }
}
