// Exceptions for dark coloured segments.

h1, h2, h3, h4, h5 {
  .purple &, .teal & {
    color: $white;
  }
}

// Quotation
blockquote p {
  font-size: rem-calc(14);
  /*font-weight: bold;*/
}
cite {
  font-family: $header-font-family;
  font-style: normal;
}

// Headings


// Links
a {
  .purple &, .teal:not(#browsecourses) & {
    color: $light-teal;
    border-bottom: 1px dotted $light-teal;
    &:hover {
      color: $pink;
      border-bottom: 1px dotted $light-teal;
    }
  }
}
