<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravity 1.0</title>
    <link rel="stylesheet" href="/user/themes/gravity/css/app.css">
  </head>
  <body>
    <nav>
      <div class="row">
        <div class="large-12 columns">
          <ul class="menu">
            <li><a href="#"><h2>Gravity</h2></a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="https://pathfinderagency.typeform.com/to/LBW6z7" class="typeform-share link" data-mode="2" target="_blank">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
<hr>
    <section class="row">
      <div class="large-8 columns">
        <h1>Opening headline statement which can be a single sentence.</h1>
        <p>Opening paragraph that relates and follows on from the heading. Typically one to two lines max but clearly get across your business and what it does. For good SEO we need to use the right headling and phrases here.</p>
      </div>
      <div class="large-4 columns">
        <a href="#" class="button float-center">Simple Button</a>
      </div>
    </section>
    <hr>
    <section class="row">
      <div class="large-8 columns">
        <div class="large-4 columns"><img src="/images/gilly-photo-placeholder.png" alt="Gilly Meek photograph"></div>
        <div class="large-8 columns">
          <h2>Hi, I'm Gilly Meek</h2>
          <p>Quick, positive bio with introduction to what you do and how long you’ve been doing it. Basically big yourself up and sell yourself. It’s about creating trust and building a positive relationship. People buy from people.</p>
        </div>
      </div>
      <div class="large-4 columns">
        <h3>Social Media Feed</h3>
        <ul>
          <li>News Item</li>
          <li>News Item</li>
          <li>News Item</li>
        </ul>
      </div>
    </section>
    <hr>
    <section class="row">
      <div class="columns text-center">
        <h2>Our clients</h2>
        <span class="secondary label">Company Logo</span>
        <span class="secondary label">Company Logo</span>
        <span class="secondary label">Company Logo</span>
        <span class="secondary label">Company Logo</span>
        <span class="secondary label">Company Logo</span>
        <span class="secondary label">Company Logo</span>
      </div>
    </section>
    <hr>

    <section class="row">
      <div class="large-12 columns">
      <ul class="tabs" data-tabs id="course-tabs">
        <li class="tabs-title is-active"><a href="#overview" aria-selected="true">Overview of our training</a></li>
        <li class="tabs-title"><a href="#panel2">Social Skills Courses</a></li>
        <li class="tabs-title"><a href="#panel3">Training courses 2</a></li>
        <li class="tabs-title"><a href="#panel4">Training courses 3</a></li>

        <li class="tabs-title"><a href="#panel5">Bespoke Training</a></li>
      </ul>


      <div class="tabs-content" data-tabs-content="course-tabs">
        <div class="tabs-panel is-active" id="overview">
          <h3>A training course for every need</h3>
          <p>I’m sure we can come up with a better title, but it could also be quite simple. This paragraph acts as a lead in. It gives you the chance to talk more about the courses overall, and could appear on the first tab below instead of here. But the tabs will contain the course breakdowns.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam mollitia suscipit, ut iusto saepe, recusandae voluptas vitae est modi reprehenderit dicta corrupti unde, aliquam illo minima. Officiis libero, at tenetur!</p>
          <p>Sapiente eum cumque saepe illum voluptatibus! Odio distinctio est at hic unde saepe, maiores dolore accusantium ipsam animi omnis a expedita quasi quo nulla rerum adipisci eveniet nam deserunt repellendus.</p>
          <p>Ea tempore commodi, asperiores ad adipisci maxime officia repellendus similique id totam sed ipsum facere minus harum illo culpa, aspernatur in autem debitis expedita. Harum aliquid ipsum ullam earum vero.</p>
          <p>Voluptas earum quasi dicta officiis molestias aspernatur, rerum expedita blanditiis voluptatem. Cupiditate quia a temporibus corporis, excepturi, rerum esse similique soluta! Reprehenderit exercitationem et sunt iure excepturi iste, aliquid fuga!</p>
        </div>
        <div class="tabs-panel" id="panel2">

          <section class="row">
            <div class="large-12 columns">
              <h3>Improve your social skills</h3>
              <p>A simple statement introducing these courses</p>
            </div>
            <div class="large-4 columns">
              <table>
                <thead>
                  <tr>
                    <th class="text-center"><img src="/images/tree1.png" alt="Tree"></th>
                  </tr>
                  <tr>
                    <th class="text-center">Negotiaion skills</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab repellendus, minima delectus quae dolore ipsum labore porro eaque possimus dignissimos voluptatem, iste facere at accusantium facilis voluptatibus optio odit repellat.</td>
                  </tr>
                  <tr>
                    <td>Course Benefit because the course has benefits</td>
                  </tr>
                  <tr>
                    <td>Another benefit because we'll have at least three for each course</td>
                  </tr>
                  <tr>
                    <td>Let me know if you need more than three for each course, or different amounts</td>
                  </tr>
                  <tr>
                    <td class="text-center"><a class="typeform-share link button" href="https://pathfinderagency.typeform.com/to/LBW6z7" data-mode="2" target="_blank">Book this course</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="large-4 columns">
              <table>
                <thead>
                  <tr>
                    <th class="text-center"><img src="/images/tree2.png" alt="Tree"></th>
                  </tr>
                  <tr>
                    <th class="text-center">Management skills</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab repellendus, minima delectus quae dolore ipsum labore porro eaque possimus dignissimos voluptatem, iste facere at accusantium facilis voluptatibus optio odit repellat.</td>
                  </tr>
                  <tr>
                    <td>Course Benefit because the course has benefits</td>
                  </tr>
                  <tr>
                    <td>Another benefit because we'll have at least three for each course</td>
                  </tr>
                  <tr>
                    <td>Let me know if you need more than three for each course, or different amounts</td>
                  </tr>
                  <tr>
                    <td class="text-center"><a class="typeform-share link button" href="https://pathfinderagency.typeform.com/to/LBW6z7" data-mode="2" target="_blank">Book this course</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="large-4 columns">
              <table>
                <thead>
                  <tr>
                    <th class="text-center"><img src="/images/tree3.png" alt="Tree"></th>
                  </tr>
                  <tr>
                    <th class="text-center">Presentation skills</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab repellendus, minima delectus quae dolore ipsum labore porro eaque possimus dignissimos voluptatem, iste facere at accusantium facilis voluptatibus optio odit repellat.</td>
                  </tr>
                  <tr>
                    <td>Course Benefit because the course has benefits</td>
                  </tr>
                  <tr>
                    <td>Another benefit because we'll have at least three for each course</td>
                  </tr>
                  <tr>
                    <td>Let me know if you need more than three for each course, or different amounts</td>
                  </tr>
                  <tr>
                    <td class="text-center"><a class="typeform-share link button" href="https://pathfinderagency.typeform.com/to/LBW6z7" data-mode="2" target="_blank">Book this course</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <div class="tabs-panel" id="panel3">
          <p>three</p>
          <p>Check me out! I'm a super cool Tab panel with text content!</p>
        </div>
        <div class="tabs-panel" id="panel4">
          <p>four</p>
        </div>
        <div class="tabs-panel" id="panel5">
          <p>five</p>
        </div>
      </div>
  </section>
<hr>

  <section id="form" class="row">
    <div class="large-12 columns">
      <!-- Script eeds moving -->
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    </div>
  </section>
  <hr>

  <section id="events" class="row">
    <div class="large-12 columns">
      <h4>Quarterly Events Segment, need further information</h4>
      <p>This will appear higher up the page when needed, I've just placed it here for now and it won't appear at times of year you don't want it too</p>
    </div>
  </section>

<hr>

  <footer class="row">
    <div class="large-3 medium-6 columns">
      <h4>Contact us</h4>

    </div>
    <div class="large-3 medium-6 columns">
      <h4>Address</h4>

<!--
Schema is in wrong order and needs some thought       -->
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <div itemscope itemtype="http://schema.org/ProfessionalService">

        Gravity Training and Development Limited<br>
          <span itemprop="streetAddress">
            2nd Floor 145-157,<br>
            St John Street,
          </span>
          <span itemprop="addressLocality">London</span>.<br>
          <meta itemprop="addressRegion" content="Greater London">
          <span itemprop="postalCode">EC1V 4PY</span>.<br>
          <span itemprop="addressCountry">United Kingdom</span>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 columns">
      <h4>Favourite books</h4>
    </div>
    <div class="large-3 medium-6 columns">
      <h4>Social media</h4>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <p>&copy; Copyright Gravity Training and Development Limited {{ "now"|date("Y") }} <a href="/privacy-policy">Our Privacy Policy</a></p>
      </div>
    </div>
  </footer>


    <script src="/user/themes/gravity/bower_components/jquery/dist/jquery.js"></script>
    <script src="/user/themes/gravity/bower_components/what-input/what-input.js"></script>
    <script src="/user/themes/gravity/bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="/user/themes/gravity/js/min/app-min.js"></script>
  </body>
</html>
