<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravity 1.0</title>
    <link rel="stylesheet" href="/user/themes/gravity/css/app.css">
  </head>
  <body>
    <nav>
      <div class="row">
        <div class="large-12 columns">
          <ul class="menu">
            <li><a href="#"><h2>Gravity</h2></a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="https://pathfinderagency.typeform.com/to/LBW6z7" class="typeform-share link" data-mode="2" target="_blank">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
<hr>
    <section class="row">
      <div class="large-8 columns">
        <h1>Management &amp; Communication Skills Training Courses - we give you the formula to accelerate performance</h1>
        <p>We offer in-house Management and Communication skills training courses and programmes that accelerate performance. We will work closely with you and your organisation to deliver pragmatic, relevant and impactful training. Our philosophy is quite simple- we give you the formula to success, a set of tools and an environment to practice in and get 121 feedback. We then get you to turn this into tangible actions you can implement straight after the training course.</p>
				<h3>Our approach</h3>
				<ul>
					<li>Deliver: Formula</li>
					<li>Demonstrate: Give example</li>
					<li>Do: You have a go</li>
					<li>Debrief; feedback and discssions</li>
					<li>Decide: what action you will take</li>
				</ul>
      </div>
      <div class="large-4 columns">
        <a href="#" class="button float-center">Simple Button</a>
      </div>
    </section>
    <hr>
    <section class="row">
      <div class="large-8 columns">
        <div class="large-4 columns"><img src="/user/themes/gravity/images/gilly-photo-placeholder.png" alt="Gilly Meek photograph"></div>
        <div class="large-8 columns">
          <h2>Hello, I'm Gilly Meek</h2>
          <p>I started Gravity in 2008 and have been training and coaching for 13 years. I managed the training for Global radio, the UK’s largest radio company and have spent time living and training in Vietnam.  I have trained people from over 100 different organisations ranging from media, retail, finance, legal to hospitality, xxxx and xxxx</p>
					<p>Prior to training I worked as a Brand Manager, Buyer and Business Analyst. When you work with Gravity you work with me. I will be your Account Manager, Course Designer and Trainer. I have designed it this way so that you get what you ask for and I will only say yes if I know I can deliver it.  It’s really important to me that I am the right fit for your company so I would be delighted to chat and answer all your questions.</p>
        </div>
      </div>
      <div class="large-4 columns">
        <h3>Social Media Feed</h3>
        <ul>
          <li>News Item</li>
          <li>News Item</li>
          <li>News Item</li>
        </ul>
      </div>
    </section>
    <hr>
    <section class="row">
      <div class="columns text-center">
        <h2>Our clients</h2>
        <span class="secondary label">Topman</span>
        <span class="secondary label">Arcadia</span>
        <span class="secondary label">Pizza Hut</span>
        <span class="secondary label">Hackett</span>
        <span class="secondary label">First Nine Catering</span>
        <span class="secondary label">Trevor Sorbie Salons</span>
      </div>
    </section>
    <hr>

    <section class="row">
      <div class="large-12 columns">
      <ul class="tabs" data-tabs id="course-tabs">
        <li class="tabs-title is-active"><a href="#overview" aria-selected="true">Overview of our training</a></li>
        <li class="tabs-title"><a href="#panel2">Social Skills Courses</a></li>
        <li class="tabs-title"><a href="#panel3">Training courses 2</a></li>
        <li class="tabs-title"><a href="#panel4">Training courses 3</a></li>

        <li class="tabs-title"><a href="#panel5">Bespoke Training</a></li>
      </ul>


      <div class="tabs-content" data-tabs-content="course-tabs">
        <div class="tabs-panel is-active" id="overview">
          <h3>A training course for every need</h3>
          <p>I’m sure we can come up with a better title, but it could also be quite simple. This paragraph acts as a lead in. It gives you the chance to talk more about the courses overall, and could appear on the first tab below instead of here. But the tabs will contain the course breakdowns.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam mollitia suscipit, ut iusto saepe, recusandae voluptas vitae est modi reprehenderit dicta corrupti unde, aliquam illo minima. Officiis libero, at tenetur!</p>
        </div>
        <div class="tabs-panel" id="panel2">

          <section class="row">
            <div class="large-12 columns">
              <h3>Improve your social skills</h3>
              <p>A simple statement introducing these courses</p>
            </div>
            <div class="large-4 columns">
              <table>
                <thead>
                  <tr>
                    <th class="text-center"><img src="/user/themes/gravity/images/tree1.png" alt="Tree"></th>
                  </tr>
                  <tr>
                    <th class="text-center">Presentation Skills</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>This 2-day presentation skills training course will transform the way you present. You will leave the training course with a boost of confidence, a presentation framework and a voice and body-language that will inspire many!</td>
                  </tr>
                  <tr>
                    <td>Overcoming nerves</td>
                  </tr>
                  <tr>
                    <td>Presentation structure &amp; clarity</td>
                  </tr>
                  <tr>
                    <td>Opening and closing a presentation</td>
                  </tr>
									<tr>
										<td>Audience interaction</td>
									</tr>
									<tr>
										<td>Handling questions</td>
									</tr>
									<tr>
										<td>Voice techniques</td>
									</tr>
									<tr>
										<td>Powerful body-language</td>
									</tr>
									<tr>
										<td>Visual media</td>
									</tr>
                  <tr>
                    <td class="text-center"><a class="typeform-share link button" href="https://pathfinderagency.typeform.com/to/LBW6z7" data-mode="2" target="_blank">Book this course</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="large-4 columns">
              <table>
                <thead>
                  <tr>
                    <th class="text-center"><img src="/user/themes/gravity/images/tree2.png" alt="Tree"></th>
                  </tr>
                  <tr>
                    <th class="text-center">Impact and Influence</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>This 1-day Impact & Influence training course will help you to do yourself justice. You may be a great at your job but do you know how to have impact when you communicate Do you influence those around you? This Impact and Influence training course will show you how to:</td>
                  </tr>
                  <tr>
                    <td>Gain self-belief</td>
                  </tr>
                  <tr>
                    <td>Remove barriers to being impactful</td>
                  </tr>
                  <tr>
                    <td>Influence different personalities</td>
                  </tr>
									<tr>
										<td>Create instant impact</td>
									</tr>
									<tr>
										<td>Sell your ideas</td>
									</tr>
									<tr>
										<td>Use your voice for impact</td>
									</tr>
									<tr>
										<td>Overcome objections</td>
									</tr>
                  <tr>
                    <td class="text-center"><a class="typeform-share link button" href="https://pathfinderagency.typeform.com/to/LBW6z7" data-mode="2" target="_blank">Book this course</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="large-4 columns">
              <table>
                <thead>
                  <tr>
                    <th class="text-center"><img src="/user/themes/gravity/images/tree3.png" alt="Tree"></th>
                  </tr>
                  <tr>
                    <th class="text-center">Negotiation Skills</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>This 2-day Negotiation skills training course will give you all the tools you need to get what you want from your negotiations and at the some time build strong relationships with the other “party” – yes this is possible and we will show you how!</td>
                  </tr>
                  <tr>
                    <td>Achieve win-win solutions</td>
                  </tr>
                  <tr>
                    <td>Plan for a negotiation</td>
                  </tr>
                  <tr>
                    <td>Structuring the negotiation conversation</td>
                  </tr>
									<tr>
										<td>Setting the tone</td>
									</tr>
									<tr>
										<td>Understanding the other person</td>
									</tr>
									<tr>
										<td>Tips and Tricks to get the best result</td>
									</tr>
									<tr>
										<td>How to close</td>
									</tr>
									<tr>
										<td>Managing buyer’s tactics</td>
									</tr>
                  <tr>
                    <td class="text-center"><a class="typeform-share link button" href="https://pathfinderagency.typeform.com/to/LBW6z7" data-mode="2" target="_blank">Book this course</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <div class="tabs-panel" id="panel3">
          <p>three</p>
          <p>Check me out! I'm a super cool Tab panel with text content!</p>
        </div>
        <div class="tabs-panel" id="panel4">
          <p>four</p>
        </div>
        <div class="tabs-panel" id="panel5">
          <p>five</p>
        </div>
      </div>
  </section>
<hr>

  <section id="form" class="row">
    <div class="large-12 columns">
      <!-- Script eeds moving -->
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    </div>
  </section>
  <hr>

  <section id="events" class="row">
    <div class="large-12 columns">
      <h4>Quarterly Events Segment, need further information</h4>
      <p>This will appear higher up the page when needed, I've just placed it here for now and it won't appear at times of year you don't want it too</p>
    </div>
  </section>

<hr>

  <footer class="row">
    <div class="large-3 medium-6 columns">
      <h4>Contact us</h4>

    </div>
    <div class="large-3 medium-6 columns">
      <h4>Address</h4>

<!--
Schema is in wrong order and needs some thought       -->
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <div itemscope itemtype="http://schema.org/ProfessionalService">
        Gravity Training and Development Limited<br>
          <span itemprop="streetAddress">
            71-75 Shelton Street,<br>
						Convent Garden,
          </span>
          <span itemprop="addressLocality">London</span>.<br>
          <meta itemprop="addressRegion" content="Greater London">
          <span itemprop="postalCode">WC2H 9JQ</span>.<br>
          <span itemprop="addressCountry">United Kingdom</span>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 columns">
      <h4>Favourite books</h4>
    </div>
    <div class="large-3 medium-6 columns">
      <h4>Social media</h4>
    </div>
    <div class="row">
			<!-- delete this hr -->
			<hr>
      <div class="large-12 columns">
        <p>&copy; Copyright Gravity Training and Development Limited {{ "now"|date("Y") }} <a href="#">Our Privacy Policy</a></p>
      </div>
    </div>
  </footer>


    <script src="/user/themes/gravity/bower_components/jquery/dist/jquery.js"></script>
    <script src="/user/themes/gravity/bower_components/what-input/what-input.js"></script>
    <script src="/user/themes/gravity/bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="/user/themes/gravity/js/min/app-min.js"></script>
  </body>
</html>
