{% extends 'partials/pathfinder.html.twig' %}

{% block content %}
  {{ page.content }}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravity 1.0</title>
    <link rel="stylesheet" href="/user/themes/gravity/css/gravity.css">
  </head>
  <body>
    <nav>
      <div class="row">
        <div class="large-12 columns">
          <div class="top-bar">
            <div class="top-bar-title">
              <img data-interchange="[/user/themes/gravity/images/common/gravity-mobile-logo@2x.png, small], [/user/themes/gravity/images/common/gravity-logo.png, medium], [/user/themes/gravity/images/common/gravity-logo@2x.png, retina]"><span>Gravity</span>
            </div>
            <div class="top-bar-right show-for-medium">
              <ul class="menu">
                <li><a href="#" class="test">Courses</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="https://pathfinderagency.typeform.com/to/LBW6z7" class="typeform-share link" data-mode="2" target="_blank">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section id="introduction">
      <div class="row">
        <div class="large-12 columns">
          <div id="newton"></div>
          <h1 class="text-center">Management Training that is full of bright ideas</h1>
        </div>
      </div>
      <div class="row">
        <div class="large-6 large-offset-1 medium-12 large-text-left text-center columns">
          <p>We offer in-house Management and Communication skills training courses and programmes that accelerate performance.</p>
        </div>
        <div class="large-5 medium-12 large-text-left text-center columns">
          <a href="#browsecourses" class="button">Browse the courses</a>
          <a href="#" class="button secondary">Discuss your needs</a>
        </div>
      </div>
    </section>

    <section class="purple" id="gilly">
      <div class="row align-middle">
        <div class="large-3 medium-4 columns text-center"><div class="gillyphoto"></div></div>
        <div class="large-6 medium-8 medium-text-left text-center columns">
          <h2 class="underline-left">Hello, I'm Gilly Meek</h2>
          <p>I started Gravity in 2008 and have <b>been training and coaching</b> for <a href="http://linkedin.com">13 years</a>. I managed the training for Global radio, the UK’s largest radio company and have spent time living and training in Vietnam.  I have trained people from over 100 different organisations ranging from media, retail, finance, legal to hospitality.</p>
          <p>I have trained people from over 100 different organisations ranging from media</p>
        </div>
        <div class="large-3 medium-8 medium-text-left text-center columns">
          <h3 class="underline-left">Recommendations</h3>
          <blockquote><p>&#8220;Gravity is the number one reason that we have been able to retain some key members of staff and get them to perform at their best.&#8221;</p><cite><strong>Diana Baker</strong>, Operations Director, The Light Rooms</cite></blockquote>
        </div>
      </div>
    </section>

    <section class="light-purple" id="clients">
      <div class="row">
        <div class="columns text-center">
          <span class="secondary label">Topman</span>
          <span class="secondary label">Arcadia</span>
          <span class="secondary label">Pizza Hut</span>
          <span class="secondary label">Hackett</span>
          <span class="secondary label">First Nine Catering</span>
          <span class="secondary label">Trevor Sorbie Salons</span>
        </div>
      </div>
    </section>

    <section>
      <div class="teal" id="browsecourses">
        <div class="row">
          <div data-tabs class="large-12 columns">
            <h2 class="text-center">Browse our training courses</h2>

            <ul class="tabs text-center" data-tabs id="course-tabs">
              <li class="tabs-title is-active" aria-selected="true"><a class="button" href="#communication-skills">Communication Skills</a></li>
              <li class="tabs-title"><a class="button" href="#panel3">Time and Meeting Management</a></li>
              <li class="tabs-title"><a class="button" href="#panel4">Leadership and Management</a></li>
              <li class="tabs-title"><a class="button" href="#panel5">Bespoke Training</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="" id="courses">
        <div class="tabs-content light-teal" data-tabs-content="course-tabs">
          <div class="tabs-panel is-active" id="communication-skills">
            <section class="row course-container">
              <div class="large-4 columns">
                <table>
                  <thead>
                    <tr>
                      <th class="text-center">
                        <img data-interchange="[/user/themes/gravity/images/illustrations/presentation-skills.png, small], [/user/themes/gravity/images/illustrations/presentation-skills@2x.png, retina]" alt="Presentation Skills Illustration" height="120" width="120">
                        <h4>Presentation Skills</h4>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Our Presentation Skills Training Course will transform the way you present. You will leave the training course with a boost of confidence, a presentation framework and a voice and body-language that will inspire many!</td>
                    </tr>
                    <tr>
                      <td>Overcoming nerves</td>
                    </tr>
                    <tr>
                      <td>Presentation structure &amp; clarity</td>
                    </tr>
                    <tr>
                      <td>Opening and closing a presentation</td>
                    </tr>
  									<tr>
  										<td>Voice techniques</td>
  									</tr>
  									<tr>
  										<td>Powerful body-language</td>
  									</tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-center"><a class="typeform-share link button" href="https://pathfinderagency.typeform.com/to/LBW6z7" data-mode="2" target="_blank">Book this course</a></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="large-4 columns">
              </div>
              <div class="large-4 columns">
              </div>
            </section>
          </div>
          <div class="tabs-panel" id="panel3">
            <p>three</p>
            <p>Check me out! I'm a super cool Tab panel with text content!</p>
          </div>
          <div class="tabs-panel" id="panel4">
            <p>four</p>
          </div>
          <div class="tabs-panel" id="panel5">
            <p>five</p>
          </div>
        </div>
      </div>
    </section>


  <footer class="">
    <div class="row">
      <div class="large-3 medium-6 columns">
        <h4>Contact us</h4>

      </div>
      <div class="large-3 medium-6 columns">
        <h4>Address</h4>

  <!--
  Schema is in wrong order and needs some thought       -->
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <div itemscope itemtype="http://schema.org/ProfessionalService">
          Gravity Training and Development Limited<br>
            <span itemprop="streetAddress">
              71-75 Shelton Street,<br>
  						Convent Garden,
            </span>
            <span itemprop="addressLocality">London</span>.<br>
            <meta itemprop="addressRegion" content="Greater London">
            <span itemprop="postalCode">WC2H 9JQ</span>.<br>
            <span itemprop="addressCountry">United Kingdom</span>
          </div>
        </div>
      </div>
      <div class="large-3 medium-6 columns">
        <h4>Favourite books</h4>
      </div>
      <div class="large-3 medium-6 columns">
        <h4>Social media</h4>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <p>&copy; Copyright Gravity Training and Development Limited {{ "now"|date("Y") }} <a href="#">Our Privacy Policy</a></p>
      </div>
    </div>
  </footer>

  <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

    <script src="/user/themes/gravity/bower_components/jquery/dist/jquery.js"></script>
    <script src="/user/themes/gravity/bower_components/what-input/what-input.js"></script>
    <script src="/user/themes/gravity/bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="/user/themes/gravity/js/min/app-min.js"></script>
  </body>
</html>
{% endblock %}
