<section class="light-purple" id="clients">
  <div class="row">
    <div class="large-12 columns text-center">
      <div>
        <ul class="menu expanded">
          <li><img src="/user/themes/gravity/images/logos/tm-logo.svg" alt="" width="50%"></li>
          <li><img src="/user/themes/gravity/images/logos/ht-logo.svg" alt="" width="50%"></li>
          <li><img src="/user/themes/gravity/images/logos/ph-logo.svg" alt="" width="90%"></li>
          <li><img src="/user/themes/gravity/images/logos/ac-logo.svg" alt="" width="50%"></li>
          <li><img src="/user/themes/gravity/images/logos/ts-logo.svg" alt="" width="40%"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
