<section>
  <div class="teal" id="browsecourses" data-magellan-target="browsecourses">
    <div class="row">
      <div data-tabs class="large-12 columns">
        <h2 class="text-center">Browse our training courses</h2>
        <ul class="tabs text-center" data-tabs id="course-tabs">
          <li class="tabs-title is-active" aria-selected="true"><a class="button" href="#communication-skills">Communication Skills</a></li>
          <li class="tabs-title"><a class="button" href="#time-management">Time and Meeting Management</a></li>
          <li class="tabs-title"><a class="button" href="#leadership-training">Leadership and Management</a></li>
          <li class="tabs-title"><a class="button" href="#bespoke-solutions">Bespoke Solutions</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="" id="courses">
    <div class="tabs-content light-teal" data-tabs-content="course-tabs">
      <div class="tabs-panel is-active" id="communication-skills">
        <section class="row course-container">
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center days mh-h" data-training-days="2" data-training-days-text="Days">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/presentation-skills.png, small], [/user/themes/gravity/images/illustrations/presentation-skills@2x.png, retina]" alt="Presentation Skills Illustration" height="120" width="120">
                    <h4>Presentation Skills</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>Our Presentation Skills Training Course will transform the way you present. You will leave the training course with a boost of confidence, a presentation framework and a voice and body-language that will inspire many.</td>
                </tr>
                <tr class="mh-p1">
                  <td>Overcome your nerves</td>
                </tr>
                <tr class="mh-p2">
                  <td>Engage &amp; interact with your audience</td>
                </tr>
                <tr class="mh-p3">
                  <td>Deliver a structured &amp; clear presentation</td>
                </tr>
                <tr class="mh-p4">
                  <td>Use powerful voice &amp; body-language</td>
                </tr>
                <tr class="mh-p5">
                  <td>Handle difficult questions</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center days mh-h" data-training-days="2" data-training-days-text="Days">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/impact-and-influence.png, small], [/user/themes/gravity/images/illustrations/impact-and-influence@2x.png, retina]" alt="Impact and Influence Illustration" height="120" width="120">
                    <h4>Impact and Influence</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>Our Impact and Influence Training Course will help you to do yourself justice in all communications so that you get results. We will give you all the secrets of influencing and enable you to gain instant impact and credibility.</td>
                </tr>
                <tr class="mh-p1">
                  <td>Gain a mindset to enable success</td>
                </tr>
                <tr class="mh-p2">
                  <td>Influence different personalities</td>
                </tr>
                <tr class="mh-p3">
                  <td>Create instant impact</td>
                </tr>
                <tr class="mh-p4">
                  <td>Sell your ideas</td>
                </tr>
                <tr class="mh-p5">
                  <td>Overcome objections</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center days mh-h" data-training-days="2" data-training-days-text="Days">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/negotiation-skills.png, small], [/user/themes/gravity/images/illustrations/negotiation-skills@2x.png, retina]" alt="Negotiation Skills Illustration" height="120" width="120">
                    <h4>Negotiation Skills</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>Our Negotiation Skills Training Course will give you all the tools you need to get what you want from your negotiations whilst building strong relationships with the other “party” – yes this is possible and we will show you how.</td>
                </tr>
                <tr class="mh-p1">
                  <td>Achieve win-win outcomes</td>
                </tr>
                <tr class="mh-p2">
                  <td>Plan for negotiations</td>
                </tr>
                <tr class="mh-p3">
                  <td>Use trading tricks to get the best result</td>
                </tr>
                <tr class="mh-p4">
                  <td>Close with confidence</td>
                </tr>
                <tr class="mh-p5">
                  <td>Manage buyer’s tactics</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </section>
      </div>
      <div class="tabs-panel" id="time-management">
        <section class="row course-container">
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center days mh-h" data-training-days="1" data-training-days-text="Day">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/time-management.png, small], [/user/themes/gravity/images/illustrations/time-management@2x.png, retina]" alt="Time Management Illustration" height="120" width="120">
                    <h4>Time Management</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>Our Time Management Training Course will give you some very simple tools that will transform your ability to manage your time and others’ expectations.  This will lead to better results for you and a far less stressful day. We will show you how to:</td>
                </tr>
                <tr class="mh-p1">
                  <td>Plan your workload effectively</td>
                </tr>
                <tr class="mh-p2">
                  <td>Prioritise tasks &amp; meet deadlines</td>
                </tr>
                <tr class="mh-p3">
                  <td>Say no in a helpful way</td>
                </tr>
                <tr class="mh-p4">
                  <td>Overcome procrastination</td>
                </tr>
                <tr class="mh-p5">
                  <td>Manage interruptions</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center days mh-h" data-training-days="1" data-training-days-text="Day">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/running-effective-meetings.png, small], [/user/themes/gravity/images/illustrations/running-effective-meetings@2x.png, retina]" alt="Running Effective Meetings Illustration" height="120" width="120">
                    <h4>Running Effective Meetings</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>Our Running Effective Meetings Training Course will enable you to run shorter meetings that always have a clear output. It will also give you some vital tools to help you keep your meetings focused and improve input from meeting attendees.</td>
                </tr>
                <tr class="mh-p1">
                  <td>Write an effective meeting agenda</td>
                </tr>
                <tr class="mh-p2">
                  <td>Plan clear defined meeting outcomes</td>
                </tr>
                <tr class="mh-p3">
                  <td>Keep meetings running on time &amp; on topic</td>
                </tr>
                <tr class="mh-p4">
                  <td>Become an effective meeting facilitator</td>
                </tr>
                <tr class="mh-p5">
                  <td>Manage challenging attendees</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center days mh-h" data-training-days="1" data-training-days-text="Day">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/six-hats.png, small], [/user/themes/gravity/images/illustrations/six-hats@2x.png, retina]" alt="Six Hats Illustration" height="120" width="120">
                    <h4>Six Thinking Hats</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>Our Six Thinking Hats Training Course provides a framework for group and individual decision-making, problem solving and idea generation. It is a powerful tool to speed up your meetings and by the end of this Six Thinking Hats Training you will be able to:</td>
                </tr>
                <tr class="mh-p1">
                  <td>Eliminate argument &amp; repetition in meetings</td>
                </tr>
                <tr class="mh-p2">
                  <td>Make quicker &amp; better group decisions</td>
                </tr>
                <tr class="mh-p3">
                  <td>Create a clear meeting focus &amp; process</td>
                </tr>
                <tr class="mh-p4">
                  <td>Apply all types of thinking to a challenge</td>
                </tr>
                <tr class="mh-p5">
                  <td>Generate new &amp; creative ideas quickly</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </section>
      </div>
      <div class="tabs-panel" id="leadership-training">
        <section class="row course-container">
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center days mh-h" data-training-days="3" data-training-days-text="Days">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/management-fundamentals.png, small], [/user/themes/gravity/images/illustrations/management-fundamentals@2x.png, retina]" alt="Management Fundamentals Illustration" height="120" width="120">
                    <h4>Management Fundamentals</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>Our Management Training Course will give you a complete guide to managing people whether you're a complete beginner or an experienced Manager. It shows you what and how and is filled with tools, tips and practice. By the end of the Management Fundamentals Training Course you will be able to:</td>
                </tr>
                <tr class="mh-p1">
                  <td>Manage different &amp; difficult personalises</td>
                </tr>
                <tr class="mh-p2">
                  <td>Motivate your team to increase performance</td>
                </tr>
                <tr class="mh-p3">
                  <td>Give positive &amp; constructive feedback</td>
                </tr>
                <tr class="mh-p4">
                  <td>Delegate, set clear goals &amp; run effective 121s</td>
                </tr>
                <tr class="mh-p5">
                  <td>Use Coaching to develop individuals</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center days mh-h" data-training-days="2" data-training-days-text="Days">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/coaching-skills.png, small], [/user/themes/gravity/images/illustrations/coaching-skills@2x.png, retina]" alt="Coaching Skills Illustration" height="120" width="120">
                    <h4>Coaching Skills</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>Our Coaching Skills Training Course will fully equip you to have structured Coaching sessions with colleagues and use coaching language in less formal settings. I am proud to have trained on 2 of the UK's Coaching Accreditations, so you can rest assured you will be getting the best in-house training course available.</td>
                </tr>
                <tr class="mh-p1">
                  <td>A framework for Coaching conversations</td>
                </tr>
                <tr class="mh-p2">
                  <td>Improved listening &amp; questioning skills</td>
                </tr>
                <tr class="mh-p3">
                  <td>The ability to help people find solutions</td>
                </tr>
                <tr class="mh-p4">
                  <td>Tools to improve performance</td>
                </tr>
                <tr class="mh-p5">
                  <td>Real experience of running Coaching sessions</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center days mh-h" data-training-days="2" data-training-days-text="Days">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/social-styles.png, small], [/user/themes/gravity/images/illustrations/social-styles@2x.png, retina]" alt="Social Styles Illustration" height="120" width="120">
                    <h4>Social Styles for Managers</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>Social Styles is the world's leading behavioural style model. The 4 styles display positive & negative traits when working with others. By understanding styles you will be able to improve your communications, build relationships and reduce conflict. This Social Styles Training Course includes:</td>
                </tr>
                <tr class="mh-p1">
                  <td>A Social Styles Profile &amp; Versatility report</td>
                </tr>
                <tr class="mh-p2">
                  <td>Self-asseesment &amp; 360 degree feedback</td>
                </tr>
                <tr class="mh-p3">
                  <td>Guidance on how to quickly assess other's style</td>
                </tr>
                <tr class="mh-p4">
                  <td>Tools to improve your communications</td>
                </tr>
                <tr class="mh-p5">
                  <td>Practice in adapting to every style</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </section>
      </div>
      <div class="tabs-panel" id="bespoke-solutions">
        <section class="row course-container">
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center mh-h">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/bespoke-training.png, small], [/user/themes/gravity/images/illustrations/bespoke-training@2x.png, retina]" alt="Bespoke Training Illustration" height="120" width="120">
                    <h4>Bespoke Training Courses</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>We design fully bespoke training courses for clients. This can be anything from a 1 day bespoke workshop through to a 1-year Modular Leadership Development Programme consisting of 12 days training and 121 Coaching.</td>
                </tr>
                <tr class="mh-p1">
                  <td>Leadership development programmes</td>
                </tr>
                <tr class="mh-p2">
                  <td>Business &amp; sector specific workshops</td>
                </tr>
                <tr class="mh-p3">
                  <td>Apprentice style learning programmes</td>
                </tr>
                <tr class="mh-p4">
                  <td>Customisation of any of our core workshops</td>
                </tr>
                <tr class="mh-p5">
                  <td>Team building initiatives</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center mh-h">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/121.png, small], [/user/themes/gravity/images/illustrations/121@2x.png, retina]" alt="121 Training Illustration" height="120" width="120">
                    <h4>121 Coaching</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>Our 121 Coaching offers a highly focused and open environment for you to work on any aspect of your development. The 121 sessions will be suited entirely to your needs and will lead to rapid progress and powerful results.</td>
                </tr>
                <tr class="mh-p1">
                  <td>Set &amp; achieve development goals</td>
                </tr>
                <tr class="mh-p2">
                  <td>Gain invaluable insight</td>
                </tr>
                <tr class="mh-p3">
                  <td>Be challenged to think of ideas &amp; solutions</td>
                </tr>
                <tr class="mh-p4">
                  <td>Learn how to self-motivate</td>
                </tr>
                <tr class="mh-p5">
                  <td>Create action plans &amp; accelerate performance</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="large-4 columns">
            <table>
              <thead>
                <tr>
                  <th class="text-center mh-h">
                    <img data-interchange="[/user/themes/gravity/images/illustrations/meeting-facilitation.png, small], [/user/themes/gravity/images/illustrations/meeting-facilitation@2x.png, retina]" alt="Meeting Facilitation Illustration" height="120" width="120">
                    <h4>Meeting Facilitation</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="mh-b">
                  <td>We can facilitate meetings for you so that you can concentrate on inputting - we will manage the process and people ensuring you achieve your goals and have everyone on-board. We can also bring a touch of creativity if you wish.</td>
                </tr>
                <tr class="mh-p1">
                  <td>Creativity sessions to generate new ideas</td>
                </tr>
                <tr class="mh-p2">
                  <td>Team away days</td>
                </tr>
                <tr class="mh-p3">
                  <td>Board meetings</td>
                </tr>
                <tr class="mh-p4">
                  <td>Decision-making meetings</td>
                </tr>
                <tr class="mh-p5">
                  <td>Strategic Planning meetings</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"><a class="typeform-share link button" href="https://gilly4.typeform.com/to/mn7OlI" data-mode="2" target="_blank">Book this course</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
