<section class="cream" id="formula">
  <div class="row">
    <div class="large-6 columns">
      <div id="formula-illustration"></div>
    </div>
    <div class="large-6 columns">
      <div class="large-text-left text-center">
        <h2 class="underline-large-left">The formula for success</h2>
      </div>
      <dl>
        <div class="media-object">
          <div class="media-object-section">
            <img data-interchange="[/user/themes/gravity/images/illustrations/lightbulb.png, small], [/user/themes/gravity/images/illustrations/lightbulb@2x.png, retina]" alt="Lightbulb Illustration" width="100" height="76">
          </div>
          <div class="media-object-section">
            <dt><h5>We give you the formula</h5></dt>
            <dd>Whether you need a conversation framework, a structure, a methodology, an approach, a mind-set, a guide, a technique or the right choice of words–we will give them all to you.</dd>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <img data-interchange="[/user/themes/gravity/images/illustrations/experiment.png, small], [/user/themes/gravity/images/illustrations/experiment@2x.png, retina]" alt="Expermient Illustration" width="100" height="76">
          </div>
          <div class="media-object-section">
            <dt><h5>We let you experiment</h5></dt>
            <dd>We create a friendly environment where you can experiment with each aspect of the formula we deliver. You get to practise in a simulated activity or discussion and get useful feedback.</dd>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <img data-interchange="[/user/themes/gravity/images/illustrations/results.png, small], [/user/themes/gravity/images/illustrations/results@2x.png, retina]" alt="Results Illustration" width="100" height="76">
          </div>
          <div class="media-object-section">
            <dt><h5>Apply your results</h5></dt>
            <dd>We’ll talk about your findings and help you to create an action plan you can implement as soon as you go back to work, applying the tools and techniques you have learned.</dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
</section>
