<section class="purple" id="gilly">
  <div class="row align-middle">
    <div class="large-3 medium-4 columns text-center"><div class="gillyphoto"></div></div>
    <div class="large-6 medium-8 medium-text-left text-center columns">
      <h2 class="underline-left">Hello, I'm Gilly Meek</h2>
      <p>I’m a coach and trainer, <a href="https://uk.linkedin.com/in/gillymeek" title="Read more at my LinkedIn profile">with over fourteen years’ experience</a>. I founded Gravity eight years ago because I believed there was a better way to inspire and develop managers and leaders.</p>
      <p>Since then I have worked around the world with over a hundred different organisations in a wide range of sectors, including media, retail, finance, legal and hospitality.</p>
      <p>I provide relevant and practical training courses which I deliver in a memorable and engaging way and I’d love to bring these in to your company.</p>
    </div>
    <div class="large-3 medium-8 medium-text-left text-center columns">
      <h3 class="underline-left">Recommendations</h3>
      <div class="orbit" role="region" aria-label="Recommendations" data-orbit data-timer-delay="6000" data-options="animInFromLeft:fade-in;animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <ul class="orbit-container">
          <li class="orbit-slide is-active">
            <blockquote><p>&#8220;Gravity is the number one reason that we have been able to retain some key members of staff and get them to perform at their best.&#8221;</p><cite><strong>Diana Baker</strong>, Operations Director, The Light Rooms</cite></blockquote>
          </li>
          <li class="orbit-slide">
            <blockquote><p>&#8220;Gilly added real value—the training was geared around our company and the staff development needs and felt really personalised. It was fun, informative and above all, professional.&#8221;</p><cite><strong>Olivia Foley</strong>, Director, Hungry Caterpillars</cite></blockquote>
          </li>
          <li class="orbit-slide">
            <blockquote><p>&#8220;Excellent trainer. Good energy level and she was able to manage our challenging group.&#8221;</p><cite><strong>Julia Ward</strong>, Senior Learning and Development Advisor, NHS</cite></blockquote>
          </li>
          <li class="orbit-slide">
            <blockquote><p>&#8220;Gravity understood the nature of the firm’s business and worked with me on developing training that met our specific requirements. Gilly had a wide range of business experience which she was able bring in to our company.&#8221;</p><cite><strong>Teresa Randles</strong>, Practice Manager, Clegg Manuel Solicitors</cite></blockquote>
          </li>
          <li class="orbit-slide">
            <blockquote><p>&#8220;Gravity tailored the training to our specific needs. Being designers we often hide behind our work and Gravity helped us to overcome this, making us realise the potential we had.&#8221;</p><cite><strong>Danielle Matthews</strong>, Creative Director, Studio This and That</cite></blockquote>
          </li>
          <li class="orbit-slide">
            <blockquote><p>&#8220;Our organisation was going through some important changes and we needed to get things moving; Gravity has enabled us to do this and we are now moving forward and implementing change.&#8221;</p><cite><strong>Daniel Batt</strong>, Founder, Iliad</cite></blockquote>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
