<section class="light-teal" id="vcourses">
  <div class="row">
  {% for vcourses in page.find('/vcourses').children %}
<div class="large-6 columns">
      <div id="{{ vcourses.header.illustration }}"></div>
      <div class="large-text-left text-center">
        <h2 class="underline-large-left">{{ vcourses.title }}</h2>
        <div class="text-left">
          {{ vcourses.content }}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</section>
