<section class="cream" id="virtual">
  <div class="row">
    <div class="large-6 columns">
      <div class="large-text-left text-center">
        <h2 class="underline-large-left">{{ page.title }}</h2>
      </div>
      <div>
      {{ content }}
      </div>
    </div>
    <div class="large-6 columns">
      <div id="virtual-illustration"></div>
    </div>
  </div>
</section>
